MOODLE_HTTP_PORT=8090
MOODLE_HOST=
MOODLE_SITE_NAME=Student Information System Moodle
MOODLE_USERNAME=admin
MOODLE_PASSWORD=ChangeMe123!
MOODLE_EMAIL=admin@example.com

MOODLE_DB_NAME=moodle
MOODLE_DB_USER=moodle
MOODLE_DB_PASSWORD=moodle
MOODLE_DB_ROOT_PASSWORD=root

MOODLE_BASE_URL=http://127.0.0.1:8090
MOODLE_WS_TOKEN=
MOODLE_DEFAULT_CATEGORY_ID=1
MOODLE_STUDENT_ROLE_ID=5
MOODLE_EDITING_TEACHER_ROLE_ID=3
MOODLE_INSTITUTION=Student Information System
MOODLE_GRADE_SOURCE=modern_sis
MOODLE_SYNC_TIMEOUT=10
